/.idea
/.venv
README.md
.DS_Store
/client/.build
/client/Packages
/client/xcuserdata/
/client/DerivedData/
/client/.swiftpm/configuration/registries.json
/client/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/client/.netrc