/.idea
/.venv
README.md
.DS_Store
/swift-client/.build
/swift-client/Packages
/swift-client/xcuserdata/
/swift-client/DerivedData/
/swift-client/.swiftpm
/swift-client/.netrc
/server/database/users.db
